
.DS_Store
demo1/enbid_paramfile
demo1/enbid_paramfile_enbid-usedvalues
demo1/to_enbid
demo1/to_enbid_d3n64.est
demo2/enbid_paramfile
demo2/enbid_paramfile_enbid-usedvalues
demo2/to_enbid
demo2/to_enbid_d3n64.est
sim.ebf
sim/pos/enbid_paramfile
sim/pos/enbid_paramfile_enbid-usedvalues
sim/pos/to_enbid
sim/pos/to_enbid_d3n64.est
sim/vel/enbid_paramfile
sim/vel/enbid_paramfile_enbid-usedvalues
sim/vel/to_enbid
sim/vel/to_enbid_d3n64.est
sim_d6n64_den.ebf
survey.sim.ebf
survey.sim.h5
survey_params
.ipynb_checkpoints/vera_rubin-checkpoint.ipynb
.ipynb_checkpoints/vera_rubin_anankethon-checkpoint.ipynb
